.layout {
    display: flex;
    min-height: 100vh;
}

app-navcomponent {
     
    flex-shrink: 0;    
}

.content {
    flex: 1; 
    min-width:0;  
    max-width:100%;   
    overflow-x: auto;     /* Take remaining space */
    padding: 1rem;
}