<div class="form-container">
  <h2>Inscription Client</h2>
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    
    <div class="form-row">
      <div class="form-group">
        <label for="prenom">Prénom <span class="required">*</span></label>
        <input id="prenom" type="text" formControlName="prenom" placeholder="Ex: Jean">
        
        @if (customerForm.get('prenom')?.touched && customerForm.get('prenom')?.invalid) {
          <div class="error">Le prénom est requis.</div>
        }
      </div>

      <div class="form-group">
        <label for="nom">Nom <span class="required">*</span></label>
        <input id="nom" type="text" formControlName="nom" placeholder="Ex: Dupont">
        
        @if (customerForm.get('nom')?.touched && customerForm.get('nom')?.invalid) {
          <div class="error">Le nom est requis.</div>
        }
      </div>
    </div>
    <div class="form-row">
      <label for="email">Email<span class="required">*</span></label>
      <input id="email" type="text" formControlName="email" placeholder="Ex:test@test.be">
      @if(customerForm.get('email')?.touched && customerForm.get('email')?.invalid){
        <div class="error">Le nom est requis.</div>
      }
    </div>
    <fieldset formGroupName="adresse">
      <legend>Adresse</legend>

      <div class="form-row grid-address">
        <div class="form-group">
          <label for="rue">Rue <span class="required">*</span></label>
          <input id="rue" type="text" formControlName="rue" placeholder="Rue de la Station">
        </div>
        
        <div class="form-group">
          <label for="numero">N° <span class="required">*</span></label>
          <input id="numero" type="text" formControlName="numero" placeholder="42">
        </div>

        <div class="form-group">
          <label for="boite">Boîte</label>
          <input id="boite" type="text" formControlName="boite" placeholder="B">
        </div>
      </div>

      <div formGroupName="localite" class="form-row grid-localite">
        <div class="form-group">
          <label for="code_postale">Code Postal <span class="required">*</span></label>
          <input id="code_postale" type="text" formControlName="code_postale" placeholder="6000">
          
          @if (customerForm.get('adresse.localite.code_postale')?.touched && customerForm.get('adresse.localite.code_postale')?.invalid) {
            <div class="error">4 chiffres requis.</div>
          }
        </div>

        <div class="form-group">
          <label for="localite-ville">Localité <span class="required">*</span></label>
          <input id="localite-ville" type="text" formControlName="localite" placeholder="Charleroi">
        </div>

        <div class="form-group">
          <label for="province">Province <span class="required">*</span></label>
          <select id="province" formControlName="province">
            <option value="Hainaut">Hainaut</option>
            <option value="Liège">Liège</option>
            <option value="Namur">Namur</option>
            <option value="Brabant Wallon">Brabant Wallon</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Anvers">Anvers</option>
            <option value="Flandre-Orientale">Flandre Orientale</option>
            <option value="Flandre-Occidentale">Flandre Occidentale</option>
            <option value="Limbourg">Limbourg</option>
            <option value="Brabant Flamand">Brabant Flamand</option>
            <option value="Bruxelles">Bruxelles-Capitale</option>
          </select>
        </div>
      </div>
    </fieldset>

    <button type="submit" [disabled]="customerForm.invalid">Enregistrer le client</button>
  </form>
</div>